<% provide :title, t(".title") %>
<h1><%= t ".hello" %></h1>
<p>
  <%= t ".line1" %>
  <%= link_to t(".tutorial"), t(".tutorial_link") %>
  <%= t ".line2" %>
  <%= link_to t(".book"), t(".book_link") %>
  <%= t ".line3" %>
  <%= link_to t(".screencast_series"), t(".screencast_series_link") %>
  <%= t ".line4" %>
  <%= link_to t(".RoR"), t(".RoR_link") %>.
  <%= t ".line5" %>
</p>
