<% provide :title, t(".title") %>
<h1><%= t ".hello" %></h1>
<p>
  <%= t ".line1" %>
  <%= link_to t(".help_section"), t(".help_section_link") %>.
  <%= t ".line2" %>
  <%= link_to t(".tutorial"), t(".tutorial_link") %>
  <%= t ".line3" %>
</p>
