<footer class="footer">
  <small>
    <%= t ".line1" %>
    <%= link_to t(".tutorial"), t(".tutorial_link") %>
    <%= t ".line2" %>
    <%= link_to t(".name"), t(".name_link") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".news"), t(".news_link") %></li>
    </ul>
  </nav>
</footer>
